
/* GENERAL */
.carousel-item-text h3 {
	margin-top: 0;
}
.carousel .carousel-item-active .carousel-item-text {
	padding: 2px 5px;
}
.mb-carousel-pager {
	display: none;
}
.fileView .imageInfo a.back { 
	display: none;
}
#tab-results .ui-tabs-active a {
    color: #000;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  color: #000;
}
.ui-widget-header {
  border: none;
  background: none;
}
.nv_news_list .paging ul, .mm_files .paging ul {
	margin-left: 0;
	padding-left: 0;
}
.mb-menu-list li .active,
.mb-menu-list .active a {
	color: #fff;
}
.devc { 
	position: fixed !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 100;
}
.devc-inner {
	background: rgba(0, 0, 0, 0.8) !important;
}
.devcItem {
	display: none !important;
}
.devc-inner .devcItem:first-child {
	display: block !important;
}
.visible-mb, .visible-tb {
	display: none;
}
.sb-active .menu-overlay {
	background: #000;
	opacity: .75;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 350;
}

/* TABLET LANDSCAPE AND SMLR */
@media (max-width: 1024px) {
	body {
		background: #FFF url("/media/themes/557fc5b05e8eef73fd6d4e88/images/squairy_lighter.jpg") repeat scroll 0% 0%;
	}
	.wrapPage {
		padding-bottom: 20px;
		 margin-bottom: 0;
		min-height: auto;
	}
	.footerwrap {
		background: none;
		margin-top: 0;
	}
	.visible-tb {
		display: block;
	}
	
	/* MOBILE HEADER */
	#header {
		display: none;
	}
	.mb-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 300;
		display: block;
	}
	.mb-container {
		padding: 10px 12px;
		background: #000;
		color: #fff;
	}
	.mb-header .left {
		float: left;
		max-height: 40px;
	}
	.mb-header .right {
		float: right;
		max-height: 40px;
	}
	.mb-header .logo span {
		display: none;
	}
	.mb-header .menu-title {
		font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		padding: 5px 8px;
		margin: 5px auto;
		border-left: 1px solid #404040;
	}
	.mb-header .menu-icon {
		padding: 5px 0;
		margin: 5px auto;
	}
	.mb-header .menu-title:hover,
	.mb-header .menu-icon:hover {
		text-decoration: none;
	}
	
	/* MOBILE MENU */
	.mb-menu {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 0;
		overflow: hidden;
		background: #101010;
		z-index: 400 !important;
	}
	.mb-menu-list {
		padding: 0 20px 0 0;
		margin: 0;
		text-align: right;
		font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
		font-size: 16px;
		clear: both;
	}
	.mb-menu-list li {
		line-height: 30px;
		text-transform: uppercase;
		display: block;
		list-style-type: none;
	}
	.mb-menu-list li a {
		color: #7e7e7e;
	}
	.mb-menu-list li a:hover {
		color: #fff;
		text-decoration: none;
	}
	.mb-menu-sep {
		margin: 20px 0 20px 30px;
		height: 1px;
		background: #404040;
		width: 85%;
		text-align: right;
	}
	.mb-menu .menu-icon {
		display: block;
		float: right;
		padding: 20px 10px 40px 10px;
		opacity: .75;
	}
	
	/* FOOTER */
	.list-label {
		display: block;
	}
	.list-sep {
		visibility: hidden;
	}
	
	/* CONTENT */
	.content_wrap {
		width: auto;
		padding: 0 20px 10px;
    background: #f5f5f5;
	}
	.right_side {
		display: none;
	}
	.main_wrap {
		margin-top: 0;
	}
	.main {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.content_title {
		background-image: none;
		padding: 0 0 15px;
		margin-top: 60px;
		min-height: inherit;
	}
	.content_title .content_wrap {
		padding: 0;
	}
	.content_title .ct_title {
		min-height: inherit;
		width: 100%;
		padding-left: 20px;
		margin: 0;
		float: none;
		background: #71AB16;
	}
	.ct_title_icon {
		display: none;
	}
	.ct_title_text {
        vertical-align: sub;
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.ct_title_main {
		margin: 0 !important;
		height: 20px;
	}
	.ct_title_sub {
		display: none;
	}
	.content_title .ct_search { 
		display: none;
		float: none;
		width: inherit;
		margin-top: 15px;
	}
	.ct_search button {
		float: right;
		margin-top: 3px;
		margin-right: 4px;
	}
	.search_index {
		height: auto;
	}
	.kioskText {
		padding: 0;
	}
	.ct_search_form {
		margin-bottom: 0;
	}
	.ct_search {
		min-height: inherit;
	}
	
	/* CAROUSEL */
	.carousel {
		height: auto;
	}
	.carousel_holder {
		background-image: none;
		margin-top: 61px;
		padding: 15px 0 0;
	}
	.carousel .carousel-items {
		width: 100%;
		float: none;
	}
	.carousel-thmbs {
		display: none !important;
	}
	.carousel .carousel-item {
		padding: 15px;
	}
	.carousel .carousel-item .image_holder {
		width: 100%;
		height: auto;
		display: block;
		background: transparent !important;
	}
	.carousel .carousel-item .image_holder img {
		width: 100%;
	}
	.carousel .carousel-item .carousel-item-text {
		width: auto;
		height: auto;
		float: none;
		background: transparent !important;
		padding: 15px 0;
	}
	.carousel-item-text .read-more {
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
	}
	.mb-carousel-pager {
		display: block;
		text-align: center;
	}
	.mb-carousel-pager a {
		display: inline-block;
		max-width: 15%;
		margin: 1%;
	}
	.mb-carousel-pager a img {
		max-width: 100%;
		height: auto;
		border: 3px solid #3f3f3f;
	}
	.mb-carousel-pager a.active img {
		border-color: #008471;
	}
	.bx-wrapper {
		margin: 0;
	}
	.bx-wrapper .bx-viewport {
		left: 0;
	}
	
	/* NEWSROOM HOME */
	.recentReleases {
		display: none;
	}
	
	/* LISTINGS */
	.newsBody .newsContent .sub_title,
	.newsBody .newsContent .newsText {
		/* display: none; */
	}
	.nv_news_list .newsBody:first-child {
		padding-top: 0;
	}
	.nv_news_list .newsBody:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.nv_news_list .newsThumb, .nv_news_list .news_search .newsImage {
		max-width: 33%;
		margin-right: 15px;
	}
	.nv_news_list .news_search .newsContent {
		width: inherit;
		float: none;
		display: table-cell;
	}
	

	/* SEARCH */
	.pg-news .content_title .ct_search,
	.pg-search .content_title .ct_search {
		display: block;
	}

	/* RELEASE DETAIL */
	.release-detail .right_side {
		display: block;
		width: 100%;
	}
	.release-detail .downloads {
		display: none;
	}
	.mediaContacts .kioskText {
		padding: 10px;
	}
	.boilerplate a {
    	word-wrap: break-word;
	}
	.release-detail .main_wrap {
		margin-left: 40px;
	}
	
	/* EXECUTIVE BIOS */	
	.exec_bios .founders .newsImage {
		display: block;
		margin-right: 0;
		float: none;
		max-width: 90%;
		max-height: inherit;
	}
	.exec_bios .founders .bios_detail {
		display: block;
		width: 90%;
		float: none;
		margin: 15px 0 25px;
	}
	.exec_bios .executives {
		width: 48%;
	}
	
	
	
	/* IN THE NEWS */
	.pg-in-the-news .content_title .up h1 {
		
	}
	.pg-in-the-news .recentReleases {
		display: block;
	}
	.nv_news_list .newsContent {
		width: inherit;
		float: none;
		display: table-cell;
	}
	.nv_news_list .newsImage {
		max-width: 33%;
	}
	.innews .newsImage {
		margin-right: 15px;
	}
	
	/* MULTIMEDIA */
	.nv_multimedia {
		margin-top: 15px;
	}
	#mm_form .right {
		float: none;
	}
	.mm_filters input {
		margin-bottom: 10px;
	}
	.mm_filters .selectDiv {
		margin-bottom: 10px;
		display: block;
	}
	.fileView {
		width: auto;
		height: inherit;
	}
	.fileView .eplayerWrap {
		width: inherit;
		/* float: none; */
		display: block;
	}
	.fileView .imageInfo {
		/* float: none; */
		display: block;
	}
	.fileView .imageInfo a.embed {
    	display: none;
	}
	.fileView .imageInfo a.back {
    	display: block;
	}
	.mm_file {
		width: 24.5%;
		float: none;
		display: inline-block;
		vertical-align: top;
		min-height: inherit;
	}
	.mm_file {
		margin-right: 0;
	}
	.mm_files .mm_file .mm_file_thumb {
		margin-right: 10px;
	}
	.mm_files .mm_file:nth-of-type(4n) .mm_file_thumb {
		margin-right: 0;
	}
	.mm_file img {
		height: auto;
	}
}

/* TABLET PORTRAIT AND SMLR */
@media (max-width: 768px) {
	
	/* MEDIA CONTACTS */
	.media_contacts td {
    	font-size: .95em;
		width: 16% !important;
	}
	/* MULTIMEDIA */
	.mm_file {
		width: 32.5%;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.mm_file {
		margin-right: 0;
	}
	.mm_files .mm_file .mm_file_thumb {
		margin-right: 10px;
	}
	.mm_files .mm_file:nth-of-type(3n) .mm_file_thumb {
		margin-right: 0;
	}
	.mm_files .mm_file:nth-of-type(4n) .mm_file_thumb {
		margin-right: 10px;
	}
	.mm_file img {
		height: auto;
	}
}

/* MOBILE LANDSCAPE AND SMLR */
@media (max-width: 740px) {

	.visible-mb {
		display: block;
	}
	
	/* MAIN CONTENT */
	.articleImage, .imageLeft {
		float: none;
		margin-right: 0;
	}
	
	/* NEWS LISTINGS */
	.nv_news_list .newsBody {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.nv_news_list .newsThumb, .nv_news_list .news_search .newsImage,
	.newsBody .newsImage img,
	.innews .newsImage {
		max-width: 100%;
		margin-right: 0;
		float: none;
	}
	.nv_news_list .newsBody .newsImage {
		margin-bottom: 12px;
	}
	.nv_news_list .newsBody .newsImage a {
		display: block;
		line-height: 0;
	}
	.nv_news_list .newsBody .newsImage img {
		margin-bottom: 0;
	}
	.nv_news_list .news_search .newsContent {
		display: block;
		margin-left: 0;
	}
	.newsBody .newsContent .sub_title,
	.newsBody .newsContent .newsText {
		display: none;
	}
	
	/* FOOTER */
	.bottom_widgets {
		display: none;
	}
	
	/* MEDIA CONTACTS */
	.media_contacts td {
    	width: 100% !important;
    	display: block;
		padding: 0 0 10px !important;
	}
	
	/* MULTIMEDIA */
	.mm_file {
		width: 49.5%;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.mm_file {
		margin-right: 0;
	}
	.mm_files .mm_file:nth-of-type(odd) .mm_file_thumb {
		margin-right: 5px;
	}
	.mm_files .mm_file:nth-of-type(even) .mm_file_thumb {
		margin-left: 5px;
	}
	.mm_files .mm_file:nth-of-type(3n) .mm_file_thumb {
		margin-right: 5px;
	}
	.mm_files .mm_file:nth-of-type(4n) .mm_file_thumb {
		margin-right: 0;
	}
	.mm_file img {
		height: auto;
	}
}

/* MOBILE PORTRAIT */
@media (max-width: 500px) {

	/* MULTIMEDIA */
	.mm_file {
		width: 100%;
	}
	.mm_file img {
		height: auto;
	}
	.nv_news_list .newsBody .newsImage img {
		width: 100%;
	}

}
